<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lugares de Acogida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lugares de Acogida</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Título y buscador -->
  <div class="search-section">
    <h1>Lugares/Casa de Acogida para Animales Callejeros</h1>
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="¿No encuentras el lugar que buscas?"
        (input)="filterData()"
      />
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </div>

  <!-- Lista de lugares de acogida -->
  <div class="location-container">
    @for (datum of filteredData; track $index) {
      <div class="location-card">
        <h2>Lugar de Acogida</h2>
        <h3>"{{ datum?.name }}"</h3>
        <img src="{{ datum?.img }}" alt="Imagen de {{ datum?.name }}" />
        <p>
          <strong>Ciudad:</strong> {{ datum?.city }}
        </p>
        <a [href]="datum?.link" target="_blank" rel="noopener noreferrer" class="more-link">
          Visitar Sitio Web
        </a>
      </div>
    }
  </div>

  <h3>Quieres formar parte de los lugares de acogida?</h3>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <ion-select formControlName="cantidad" label="Cantidad" placeholder="Seleccione cuantos animales puede albergar">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3+">3 o más</ion-select-option>
    </ion-select>

    <ion-select formControlName="ciudad" label="Ciudad" placeholder="Seleccione la ciudad donde se encuentra">
      
    </ion-select>
    
    <ion-textarea formControlName="detalles" label="Detalles" placeholder="Coloque aquí más detalles sobre su postulación"></ion-textarea>

    <ion-button type="submit" [disabled]="!myForm.valid">Enviar</ion-button>
  </form>
</ion-content>
