<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>DESCUBRE LOS REFUGIOS PARA ANIMALES CALLEJEROS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Refugios y/o casas de acogida para animales callejeros disponibles en Guayaquil, Ecuador.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
