<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>DESCUBRE LOS REFUGISO PARA ANIMALES CALLEJEROS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Este proyecto surgió como una iniciativa para la materia ARP (Análisis y Resolución de Problemas). Los siguientes integrantes contribuyeron con ideas clave y dirección inicial para llevar a cabo esta idea innovadora:
      </p>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
