<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pet Friendly
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pet Friendly</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>DESCUBRE LOS REFUGIOS PARA ANIMALES CALLEJEROS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Refugios y/o casas de acogida para animales callejeros disponibles en Guayaquil, Ecuador.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="text-center">
        <h2>MISIÓN</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="text-center">
        <ion-icon name="location-outline" size="large"></ion-icon>
        <h3>Informar a los habitantes</h3>
        <p>
          Informar a los habitantes de Guayaquil sobre los albergues y refugios para animales callejeros.
        </p>
      </ion-col>
      <ion-col size="4" class="text-center">
        <ion-icon name="thumbs-up-outline" size="large"></ion-icon>
        <h3>Reducir la cantidad de animales en las calles</h3>
        <p>
          Mediante la información proporcionada, la ciudadanía podrá contribuir a que los animales se encuentren en refugios y no deambulando en las calles.
        </p>
      </ion-col>
      <ion-col size="4" class="text-center">
        <ion-icon name="hand-left-outline" size="large"></ion-icon>
        <h3>Apoyar y facilitar el trabajo a las fundaciones</h3>
        <p>
          Con esta gesta, es mucho más fácil para las fundaciones encontrar animales callejeros y poder darles un buen trato.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
