<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fundaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fundaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="foundation-container">
    @for (datum of dataList; track $index) {
      <div class="foundation-card">
        <h2>Fundación</h2>
        <h3>"{{ datum?.name }}"</h3>
        <img src="{{ datum?.img }}" alt="Logo de {{ datum?.name }}" />
        <p>
          <strong>Contactos de la fundación:</strong><br />
          Número de contacto: {{ datum?.contact }}<br />
          Redes sociales: {{ datum?.social }}
        </p>
        <a href="#" class="more-link">Ver más</a>
      </div>
    }
  </div>
</ion-content>
