<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fundaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fundaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Título y buscador -->
  <div class="search-section">
    <h1>FUNDACIONES</h1>
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="No encuentras la fundación que buscas?"
        (input)="filterData()"
      />
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </div>

  <!-- Lista de fundaciones -->
  <div class="foundation-container">
    @for (datum of filteredData; track $index) {
      <div class="foundation-card">
        <h2>Fundación</h2>
        <h3>"{{ datum?.name }}"</h3>
        <img src="{{ datum?.img }}" alt="Logo de {{ datum?.name }}" />
        <p>
          <strong>Contactos de la fundación:</strong><br />
          Número de contacto: {{ datum?.contact }}<br />
          Redes sociales: &#64;{{ datum?.social }}
        </p>
        <a [href]="'https://www.instagram.com/' + (datum?.social || '')" class="more-link" target="_blank">Ver más</a>        
      </div>
    }
  </div>
</ion-content>
